.background{
  background-color: #FAEDED;

  }
  
    .section1{
    background-color: #573F2F;
    height: 200px;
    
    }
    .section2{
    background-color: #6A4021;
    height: 200px;
    }
    .section3{
      background-color: #3E2D21;
      height: 200px;
      }